# only keep relevant arkcmake files
arkcmake/*
!arkcmake/updateArkcmake.py
!arkcmake/FindMAVLink.cmake
!arkcmake/FindArkOsg.cmake
!arkcmake/FindArkComm.cmake
!arkcmake/CheckLinkType.cmake
!arkcmake/FindOsgPlugin.cmake
!arkcmake/ExternalProjectWithFilename.cmake
